<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content >
<div class="pantalla">
  <img style="border-radius: 50%; width: 100%; height: 100%;"  src="\assets\icon\retrato-hombre-blanco-aislado_53876-40306.jpg" alt="imagen">
</div>

<div class="perfil">
<ion-label><h1>Estudiante</h1></ion-label>
<ion-label>Alexander Santibañez</ion-label><br><br>
<ion-label><h1>Correo</h1></ion-label>
<ion-label>ale.santibanez@duocuc.cl</ion-label><br><br>
<ion-label><h1>Carrera</h1></ion-label>
<ion-label>Analista Programador</ion-label>


</div>



</ion-content>