@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.logout{
    color: red;
    margin-top:110%;
}
.logout:hover{
    opacity: 0.6;
}
ion-item{
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}