div{
    padding: 5%;
}
.redondear{
    border-radius: 20px;
}
ion-content{ --ion-background-color:#97D2EC;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.boton{
    background-color: #1C264B; 
    width:200px; 
    border-radius:10px;
    margin-left: 10%;
    color: #FFFFFF;
    margin-top: 8%;
    
}