<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
    <form #formulario="ngForm" (ngSubmit)="onSubmit()"> 
      <ion-text>
        <h3 > Nombre</h3>
      </ion-text>
      <ion-item class="redondear" color="light">
        <ion-input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" required ></ion-input>
      </ion-item>
      <ion-text >
        <h3> Correo</h3>
      </ion-text>
      <ion-item class="redondear" color="light">
        <ion-input type="text" placeholder="Correo" name="correo" [(ngModel)]="usuario.correo" required></ion-input>
      </ion-item>
      <ion-text >
        <h3> Contraseña Nueva</h3>
      </ion-text>
      <ion-item class="redondear" color="light">
        <ion-input type="text" placeholder="Contraseña" name="password" [(ngModel)]="usuario.password" required></ion-input>
      </ion-item>
      <br>
      <ion-item class="redondear" color="light">
        <ion-input type="text" placeholder="Repetir Contraseña" name="password2" [(ngModel)]="usuario.password2" required></ion-input>
      </ion-item>
      <ion-text >
        <h3> Codigo de Autorización</h3>
      </ion-text>
      <ion-item class="redondear" color="light">
        <ion-input type="text" placeholder="Codigo" name="codigo" [(ngModel)]="usuario.codigo" required></ion-input>
      </ion-item>
      <ion-button class="boton" (click)="onClick()" expand="block" fill="clear" shape="round"[routerLink]="['/inicio']">
        Recuperar 
      </ion-button>
      
    </form>
    
  </div>

</ion-content>