
<ion-content>
    <div class="home">
      <img style="  width:200px;height:200px;border-radius:150px;" src="https://scontent-scl2-1.xx.fbcdn.net/v/t1.6435-9/50773200_1110303169172387_6682615172911071232_n.png?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_ohc=Z5Hm8CFQ0bYAX-DmTZJ&_nc_ht=scontent-scl2-1.xx&oh=00_AT_5eaoaNcwjgCBp_6Bu2NBYtqEpYhibzDYSv9j3vQeE0w&oe=633F224A" alt="imagen">
      </div>
      <div>
      <h1 style="text-align:center; color:#25316D; ">RegisterApp</h1>  
      </div>
    <div id="container">
      <strong>Bienvenidos</strong> 
      <div>
      <ion-button class="botonHome" (click)="onClick()" expand="block" fill="clear" shape="round" [routerLink]="['/alumno']">
        Alumnos
      </ion-button>
  
      <ion-button class="botonHome" (click)="onClick()" expand="block" fill="clear" shape="round"[routerLink]="['/profesor']">
        Profesor
      </ion-button>
    </div>
    </div>
</ion-content>
