#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    transform: translateY(-50%);
  }

  .containerB {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
   
  }
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .home {
    text-align: center;
    margin-top: 20%;
  }
  
  #imgRedonda {
    width:200px;
    height:200px;
    border-radius:150px;
    border:10px solid #666;
  }
  
  .botonHome{
    background-color: #1C264B; 
    width:80%; 
    border-radius:10px;
    margin-left: 10%;
    color: #FFFFFF;
  }
  ion-content{ --ion-background-color:#97D2EC;
   }

  