<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<!--perfil-->


<ion-content >
<div class="pantalla">
  <img style="border-radius: 50%; width: 100%; height: 100%;"  src="\assets\icon\retrato-hombre-blanco-aislado_53876-40306.jpg" alt="imagen">
</div>

<div class="perfil">
<ion-label><h1>{{rol}}</h1></ion-label>
<ion-label>{{name}}</ion-label><br><br>
<ion-label><h1>Correo</h1></ion-label>
<ion-label>{{correo}}</ion-label><br><br>


</div>



</ion-content>