<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
    <form #formulario="ngForm" (ngSubmit)="onSubmit()"> 
      <ion-text>
        <h3 > Nombre</h3>
      </ion-text>
      <ion-item class="redondear" color="light">
        <ion-input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" required ></ion-input>
      </ion-item>
      <ion-text >
        <h3> Correo</h3>
      </ion-text>
      <ion-item class="redondear" color="light">
        <ion-input type="text" placeholder="Correo" name="correo" [(ngModel)]="usuario.correo" required></ion-input>
      </ion-item>
      <ion-text >
        <h3> Contraseña</h3>
      </ion-text>
      <ion-item class="redondear" color="light">
        <ion-input type="text" placeholder="Contraseña" name="password" [(ngModel)]="usuario.password" required></ion-input>
      </ion-item>
      <br>
      <ion-item class="redondear" color="light">
        <ion-input type="text" placeholder="Repetir Contraseña" name="password2" [(ngModel)]="usuario.password2" required></ion-input>
      </ion-item>
      <ion-text >
        <h3> Sede</h3>
      </ion-text>
      <ion-item class="redondear" color="light">
          <ion-select value="Seleccionar Sede" interface="action-sheet" placeholder="Seleccionar Sede">
            <ion-select-option value="maipu">Maipú</ion-select-option>
            <ion-select-option value="plaza-oeste">Plaza Oeste</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-text >
        <h3> Ramos</h3>
      </ion-text>
      <ion-item class="redondear" color="light">
          <ion-select value="Seleccionar Sede" [multiple]="true"  placeholder="Seleccionar Ramos">
            <ion-select-option value="diurna">Programación</ion-select-option>
            <ion-select-option value="vespertina">Base de Datos</ion-select-option>
            <ion-select-option value="vespertina">Ingles</ion-select-option>
            <ion-select-option value="vespertina">Matematica</ion-select-option>
            <ion-select-option value="vespertina">ing de sofware</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-button class="boton" (click)="onClick()" expand="block" fill="clear" shape="round"[routerLink]="['/profesor']">
        Registrar
      </ion-button>
      
    </form>
    
  </div>

</ion-content>
