
.iconosFot {
  color: white;
    margin-right:20px;
    width: 50px;
    height:50px; 
    border-radius:15px;
}
.qr:hover{
  opacity: 30%;

}

div{
  margin-top: 30%;
  text-align: center;
}
ion-content{ --ion-background-color:#97D2EC;
}
