<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>     
  <div>
    <ion-text color="light" class="qr">
      <h1>Scannear QR</h1>
      <ion-icon name="camera" (click)="alertFoto()" class="iconosFot" color="light"></ion-icon>
    </ion-text>
  </div>

</ion-content>