<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="camara" (click)="addPhotoToGallery()" >
    <ion-img src="assets/scann.png"></ion-img>   
    <h1>Scannear QR</h1>
  </div>
  <div class="footer">
    <ion-img src="/assets/logo2.png"></ion-img>
  </div>
  

</ion-content>
