@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
ion-title{
    font-family: 'Montserrat', sans-serif;
}
.camara{
padding: 30%;
}
.footer{
    position: absolute;
    width: 50%;
    top: 90%;
    left: 25%;
}
h1{
    color: #40216D;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    text-align: center;

}