<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/inicio"></ion-back-button>
      </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<!--registro-profesor-->


<ion-content>
  <div class="fondo">
    <form [formGroup]="formularioRegistro" (keyup.enter)="CrearUsuario()"> 
      <ion-text>
        <h3 > Nombre</h3>
      </ion-text>
      <ion-item class="redondear" color="light">
        <ion-input type="text" placeholder="Nombre" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-text >
        <h3> Correo</h3>
      </ion-text>
      <ion-item class="redondear" color="light">
        <ion-input type="email" placeholder="Correo" formControlName="correo"></ion-input> 
      </ion-item>
      <ion-text >
        <h3> Contraseña</h3>
      </ion-text>
      <ion-item class="redondear" color="light">
        <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="formularioRegistro.get('password').hasError('required')">
        Contraseña debe contener más de 8 caracteres, una mayúscula y un número
      </div>
      <br>
      <ion-item class="redondear" color="light">
        <ion-input type="password" placeholder="Repetir Contraseña" formControlName="confirmaPass"></ion-input>
      </ion-item>
      <ion-button class="boton" (click)="CrearUsuario()" expand="block" fill="clear" shape="round">
        Registrar
      </ion-button>
      
    </form>
    
  </div>

</ion-content>
