<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-text color="dark" class="ion-text-center">
    <h2>Alexander Santibañez</h2>
  </ion-text>
  <ion-text color="dark" class="titulos">
    <h3>Horario</h3>
  </ion-text>

    <ion-list class="horario">
      <ion-item color="light">
        <ion-label>Ingles Intermedio</ion-label>
        <ion-label>16:20</ion-label>
      </ion-item>
      <ion-item color="light">
        <ion-label>Programacion Web</ion-label>
        <ion-label>19:00</ion-label>
      </ion-item>
      <ion-item color="light">
        <ion-label>Arquitectura</ion-label>
        <ion-label>20:20</ion-label>
      </ion-item>
    </ion-list>
    <ion-text color="dark" class="titulos">
      <h3>Porcentaje Asistencia</h3>
    </ion-text>
    <ion-list class="horario">
      <ion-item color="light">
        <ion-label>Ingles Intermedio</ion-label>
        <ion-label color="danger">60%</ion-label>
      </ion-item>
      <ion-item color="light">
        <ion-label>Programacion Web</ion-label>
        <ion-label>70%</ion-label>
      </ion-item>
      <ion-item color="light">
        <ion-label>Arquitectura</ion-label>
        <ion-label>100%</ion-label>
      </ion-item>
    </ion-list>
<ion-grid>
  <ion-row fixed routerLink="/scann-qr" class="qr">
    <ion-col size="1">
      
    </ion-col>
    <ion-col size="3" class="ion-align-self-center">
      <ion-icon name="camera" class="iconosFot" color="light"></ion-icon>
    </ion-col>
    
    <ion-col size="8" class="ion-align-self-center">      
      <ion-text color="light">
      <h1>Scannear QR</h1>
    </ion-text></ion-col>
  </ion-row>
</ion-grid>

</ion-content>
